#Skeleton2 {
    background-color:gray;
}

.customtitle1 {
    background: white;
    color: black;
}

.customp1{
    background:black;
    color: white;
}

.customp2{
    background: white;
    color: red;
}

.box {
    background: #DB5F40;
    height: 300px;
    width: 300px;
    display: flex;
    padding: 40px

}

.child{
    background: #A8D49A;
    height: 90px;
    width: 45px;
    margin: 20px;
 
}