#skeleton{
    background-image: url(images/10m.jpg)  
}

.upperbar{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-between;
    height: 120px;
    padding-bottom: 4px;
}

.maintitle{
    color:black;
    align-items: center;
    height: 115px;
    width: 715px;
}

.login{
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    background-color: rgba(14, 58, 90, 0.44);
    margin-left: 10px;
    padding: 0px 0px 0px 10px;
    height: 115px;
    width: 525px;
    border-radius: 5px;
    color: white;
    align-self: center;                                                                                        
}

.logintitle{
    font-size: 20px;
    margin-top: 10px;
}



.noaccount:link, .noaccount:visited{
    color: white;
}
.noaccount:hover, .noaccount:active{
    color: gray;
}



.loginbutton:link, .loginbutton:visited{
    color: white;
    background-color: rgba(14, 58, 90, 1);
    padding: 5px; 
    text-decoration: none;

}
.loginbutton:hover{
    color: white;
    background-color: rgba(14, 58, 144, 1);
    padding: 5px; 
    text-decoration: none;
    border-radius: 10px;
}        

.boxesbutton:link{
    color: white;
    background-color: rgba(214, 172, 0, 0.84);
    padding: 8px;
    border-radius: 5px;
}
.boxesbutton:visited{
    color: rgba(79, 73, 76, 0.74);
    background-color: rgba(214, 172, 0, 0.84);
    padding: 8px;
    border-radius: 5px;  
}
.boxesbutton:active{
    color: rgba(79, 73, 76, 0.74);
    background-color: rgba(214, 172, 83, 0.69);
    padding: 8px;
    border-radius: 5px;  
}


/*_____________________________BOXES SKELETON__________________________________________*/
#boxesk {
    background: url("images/pisonegro.jfif");
}

#boxesk > h1{
    color:white
}

#boxesk > h2{
    color:white
}

#boxesk > p{
    color:white;
    margin: 3px;
}

.box1 {
    display:flex;
    background-color: rgba(116, 47, 20, 1);
    margin-top: 25px;
    padding: 10px;
    height: 650px;
    align-content: start;
    align-items: space-between;
    justify-content: center;
    flex-flow: row wrap;
    }

    .box1 > div {
        color:black;
        background-color: white;
        text-align: center;
        width: 150px;
        line-height: 130px;
        font-size: 20px;
        margin: 5px;
    }

.box2 {
    display:flex;
    background-color: rgba(116, 47, 20, 1);
    margin-top: 25px;
    height: 150px;
    flex-flow: row;
    justify-content: space-around;
    }

.box3 {
    display:flex;
    background-color: rgba(116, 47, 20, 1);
    margin-top: 25px;
    padding: 10px;
    height: 675px;
    flex-flow: row wrap;
    align-content: space-between;
    align-items: start;
    justify-content: space-between;
}

.box3 > div {
    color:black;
    background-color: white;
    text-align: center;
    width: 150px;
    line-height: 130px;
    font-size: 20px;
    margin: 5px;
}
